img{
    width: 3cm;
    height: 4cm;
}

/* Estilos generales */

body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding-left: 5px;
    padding-bottom: 10px;
    text-align: center;
    border-left: 50px solid black;
    border-right: 50px solid black;
  }
  
  
  h1, h2 {
    margin-top: 0;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  table {
    width: 50%;
    border-collapse: collapse;
    margin: 0 auto;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid #ffffff;
  }
  
  /* Estilos de encabezado */
  
  header {
    background-color: #1abc9c;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  header p {
    font-size: 18px;
    margin-bottom: 0;
  }
  
  /* Estilos de secciones */
  
  
  div{
    background-color: #33FF36;
    border: 1px solid black;
    border-radius: 5%;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .div1{
    margin-bottom: 0px;
    padding-bottom: 10px;
  }
  
  section h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  section ul li {
    margin-bottom: 5px;
  }
  
  /* Estilos de la tabla de referencias */
  
  table th {
    background-color: #1abc9c;
    color: white;
    font-weight: bold;
  }
  
  /* Estilos de la foto */
  
  img {
    display: block;
    margin: 0 auto;
    border: 5px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  ul li h3{
    margin-bottom: 2px;
  }
  
 
  
  
  